{% load static %}
<div style="display: none;">
<div class="authPopup popup box-modal" id="authModal">
	<div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
		<div class="popup__title authPopup__title">Войти по коду</div>
		<p class="popup__text authPopup__text">Введите свой номер телефона, мы вышлем на него код</p>
		<form action="#" method="post" class="authPopup__form" id="phoneLoginForm" data-url="{% url 'phone_login' %}">
			{% csrf_token %}
			<div class="contacts__form_inputBlock">
				<input type="text" name="tel" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
			</div>
			<div class="contacts__form_checkboxBlock fic">
				<input type="checkbox" class="contacts__form_checkbox" checked="">
				<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
			</div>
			<div class="authPopup__error" style="display: none;"></div>
			<button type="submit" class="popup__btn authPopup__btn">Отправить</button>
		</form>
	</div>
</div>
