{% load static %}
<header id="header">
		<div class="container">
			<div class="header">
				<div class="row">
					<div class="col-2 col-md-2 mob">
						<img src="{% static 'img/hamburger.svg' %}" alt="hamburger" class="header__mobMenu">
					</div>
					<div class="col-5 col-md-3 col-lg-2">
						<a href="/">
							<img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
						</a>
					</div>
					<div class="col-md-5 ">
						<nav>
						<ul class="menu">
							<li class="menu__item"><a href="{% url 'index' %}#masters" class="menu__item_link">Мастера</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#services" class="menu__item_link">Услуги</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#reviews" class="menu__item_link">Отзывы</a></li>
							<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
						</ul>
					</nav>
					</div>
					<div class="col-2 col-md-2 col-lg-3">
						<div class="header__block">
						<button class="header__block_btn">Перезвоните мне</button>
						{% if request.user.is_authenticated %}
						<div class="header__block_auth header__block_auth__logged">
							<img src="{% static 'img/acc.svg' %}" alt="account" class="header__account_img">
							<span class="header__block_auth__intro">{{ request.user.username }}</span>
							<a href="#" class="header__block_auth__logout" data-url="{% url 'logout' %}">Выйти</a>
						</div>
						{% else %}
						<div class="header__block_auth">
							<img src="{% static 'img/acc.svg' %}" alt="account" class="header__account_img">
							<span class="header__block_auth__intro">Войти</span>
						</div>
						{% endif %}
					</div>
					</div>
				</div>

			</div>
		</div>
	</header>