{% load static %}
<section id="mobMenu">
			<div class="mobMenu">
				<div class="container">
				<div class="mobMenu__header">
					<div class="row">
						<div class="col-4 col-md-3">
							<a href="/">
								<img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
							</a>
						</div>
						<div class="col-3 col-md-2">
							<img src="{% static 'img/x.svg' %}" alt="x" class="mobMenuClose">
						</div>
					</div>
				</div>
				<div class="mobMenu__content">
					<div class="row">
						<div class="col-md-3">
							<nav>
								<ul class="mobMenu__menu">
									<li class="mobMenu__menu_item">
										<a href="{% url 'index' %}#masters" class="mobMenu__menu_link">Мастера</a>
									</li>
									<li class="mobMenu__menu_item"><a href="{% url 'index' %}#services" class="mobMenu__menu_link">Услуги</a></li>
									<li class="mobMenu__menu_item"><a href="{% url 'index' %}#reviews" class="mobMenu__menu_link">Отзывы</a></li>
									<li class="mobMenu__menu_item"><a href="{% url 'index' %}#contacts" class="mobMenu__menu_link">Контакты</a></li>
								</ul>
							</nav>
							<a href="{% url 'notes' %}" class="mobMenu__account">Личный кабинет</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="mobMenu__btn callbackTriggerBtn">Перезвоните мне</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>